include layout
	script(src='/javascripts/jsUsuario/home.js')

nav.navbar.navbar-inverse.shadow
	script.
		var dataNew = !{data}
	.container-fluid
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			img.navbar-brand(src="bootstrap/css/icons/police.png")
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
				span.sr-only
				span.icon-bar
				span.icon-bar
				span.icon-bar
		div( id="bs-example-navbar-collapse-1" class="collapse navbar-collapse" )
			ul(class="nav navbar-nav navbar-left homeMenu" style="color:white !important;")
				li
					a(href='/crudBatalhao' style="font-color:white !important;") Gerenciar Batalhao 
						span.glyphicon.glyphicon-screenshot
				li
					a(href='/crudAutoridade') Gerenciar Autoridades 
						span.glyphicon.glyphicon-star-empty
				li
					a(href='/crudEventos') Gerenciar Eventos 
						span.glyphicon.glyphicon-glass
					
			ul(class="nav navbar-nav navbar-right")
				li
					a(href="/deslogaruc") Deslogar 
						span.glyphicon.glyphicon-log-out
			
.container-fluid
	.row
		.col-sm-3
			.profile-sidebar.shadow.thumbnail(style="max-height:500px !important")
				.profile-userpic.text-center
					img.img-responsive.img-thumbnail(id="imgUsuario", style="max-height:300px !important", alt='').shadow
				.profile-usertitle
					.profile-usertitle-name.strong(id="nomeUsuario")
				hr
				.profile-userbuttons
					button.strong.btn.btn-success.btn#modal(type='button', data-toggle='modal', data-target='#myModal') Editar 
						span.glyphicon.glyphicon-edit
		.col-sm-9
			.row
				.col-sm-12
					.panel.panel-default
						.panel-heading.text-center
							h1 Autoridades Aniversáriantes 
								span.glyphicon.glyphicon-gift
						.panel-body
							.table-responsive(style="height: auto !important; max-height: 200px; overflow-y: auto !important; width: 100% !important; margin 0 !important; padding: 0px !important;")
								table.table.table-bordered.text-center.table-hover.table-condensed#autoridades.table-striped
										thead
											tr
												th.info.text-center Enviar E-mail
												th.info.text-center Id
												th.info.text-center Nome
												th.info.text-center Apelido
												th.info.text-center Partido
												th.info.text-center Unidade
												th.info.text-center Ultima Atualização
												th.info.text-center Empresa
												th.info.text-center Função
												th.success.text-center Nascimento
										tbody
		
				.col-sm-12
					.panel.panel-default
						.panel-heading.text-center
							h1 Overview Eventos 
						.panel-body
							.col-sm-12
								.table-responsive(style="height: auto !important; max-height: 300px; overflow-y: auto !important;")
									table.table.table-bordered.text-center.table-hover.table-condensed#confirmados.table-striped
										thead
											tr.info
												th.text-center Index
												th.text-center Nome
												th.text-center Data
												th.text-center Confirmados
												th.text-center Convidados
										tbody

// Modal
#myModal.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header.text-center
				button.close(type='button', data-dismiss='modal') ×
				h1.modal-title
			.modal-body
				form(id="formAlterar", method='POST', style="width: auto;")
					div.row
						div.col-sm-offset-4.col-sm-4.col-sm-offset-4
							img(class="img-responsive img-thumbnail imgAlterar", src="/images/noPerson.jpg").shadow
							div.text-center(style="padding: 5px;").form-group.groupimg
								label(class="form-control strong btn btn-default btn-ls btn-file" id="imgUpload") Alterar 
									input(id="inputImg", type="file", style="display: none;")
									span(class="glyphicon strong glyphicon-open-file" aria-hidden="true")

					div(class="form-group")
						label.strong(for="nomeAlterar" style="float:left") Nome
						input(type="text", id="nomeAlterar",class="form-control", style="width: 100%;" ,placeholder="Nome")

					div(class="form-group" )
						label.strong(for="usuarioAlterar" style="float:left") Usuario
						input(type='text',class="form-control", id = "usuarioAlterar", style="width: 100%;" ,placeholder="Usuario")

					div(class="form-group")
						label.strong(for="senhaAlterar" style="float:left") Senha
						input(type="senha", id="senhaAlterar",class="form-control", style="width: 100%;" ,placeholder="Senha")

					div(class="form-group")
						label.strong(for="selectBAlterar" style="float:left") Batalhão
						select(name="select", id="selectBAlterar",class="form-control", data-style="btn-primary")
							option(disabled selected value) -- Selecione uma Opção --


			.modal-footer
				div.text-center
					button(type="button" id="alterar" class="btn strong btn-default btn-lg" data-dismiss='modal' style="margin: 5px;") Alterar 
						span(class="glyphicon glyphicon-pencil" aria-hidden="true")
					button(type="button" id="excluir" class="btn btn-danger strong  btn-lg" data-dismiss='modal' style="margin: 5px;") Excluir Conta 
						span(class="glyphicon glyphicon-remove-sign" aria-hidden="true") 
					button.btn.btn-default.btn-lg.strong(type='button', data-dismiss='modal' style="margin: 5px;") Close ×

//email
#myModalEmail.modal.fade(role='dialog')
	.modal-dialog
		// Modal content
		.modal-content
			.modal-header.text-center
				button.close(type='button', data-dismiss='modal') ×
				h1(style="color:white !important;") E-mail
			.modal-body
				form(id="form", method='POST', style="width: auto;")
					div(class="form-group")
						label.strong(for="nomeAlterar" style="float:left") Nome
						input(type="text", id="nomeAlterar",class="form-control", style="width: 100%;" ,placeholder="Nome")

					div(class="form-group" )
						label.strong(for="usuarioAlterar" style="float:left") Usuario
						input(type='text',class="form-control", id = "usuarioAlterar", style="width: 100%;" ,placeholder="Usuario")

					div(class="form-group")
						label.strong(for="senhaAlterar" style="float:left") Senha
						input(type="senha", id="senhaAlterar",class="form-control", style="width: 100%;" ,placeholder="Senha")

					div(class="form-group")
						label.strong(for="selectBAlterar" style="float:left") Batalhão
						select(name="select", id="selectBAlterar",class="form-control", data-style="btn-primary")
							option(disabled selected value) -- Selecione uma Opção --


			.modal-footer
				div.text-center
					button(type="button" id="alterar" class="btn strong btn-default btn-lg" data-dismiss='modal' style="margin: 5px;") Alterar 
						span(class="glyphicon glyphicon-pencil" aria-hidden="true")
					button(type="button" id="excluir" class="btn btn-danger strong  btn-lg" data-dismiss='modal' style="margin: 5px;") Excluir Conta 
						span(class="glyphicon glyphicon-remove-sign" aria-hidden="true") 
					button.btn.btn-default.btn-lg.strong(type='button', data-dismiss='modal' style="margin: 5px;") Close ×
