doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/jquery-3.1.1.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src="/bootstrap/js/sweetalert-dev.js")
    link(rel="stylesheet" type="text/css" href="/bootstrap/css/sweetalert.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/bootstrap/js/jquery.progresstimer.js")
    script(src="/bootstrap/js/jquery.mask.min.js")
    script(src="https://www.gstatic.com/firebasejs/3.9.0/firebase.js")
    script(src="/javascripts/jsGlobal/firebasejs.js" type="text/javascript" charset="utf-8")
  bodys